.superContainer{
    width: 1190px;
    height: 125px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .orderAndFilter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

