.superContainer{
    position: relative;
}

.container {
    height: 60px;
    width: 150px;
    /* border: 1px solid black; */
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container:hover{
    cursor: pointer;
}

.container:focus {
    outline: none;
    border-radius: 10px;
}

.icon{
    position: absolute;
    top: 34%;
    left: 80%;
    pointer-events: none;
}