.container{
    /* border: 1px solid black; */
    width: 1310px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img{
    color: green;
}

.container h2{
    color: green;
}